.topnav {
    background-color: black;
    margin: 0;
    overflow: hidden;
    color: white;
    display: block;
    padding: 5px;

}

#home {
    color: black;
    font-size: xx-large;
    background-image: url("../Images/images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    display: flex;
    justify-content: center;
}

#piz {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: 300px;
}

#market {
    display: flex;
    justify-content: center;
}

#contact {
    background-image: url("Images/wPHyUs-5_400x400.jpg");
}

#btnT {
    background-color: grey;
    width: 200px;
    height: fit-content;

}

#order-form {
    width: fit-content;
    height: fit-content;
}

#placingorder {
    background-image: url("../Images/crusts.jpeg");
}
form {
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    margin-left: 25%;
}
#imgm {
    width:20px;
    height: 20px;
}
label {
    display: block;
}
#customer {
display: none;
}
#form1 {
    width: 500px;
}
#bill {
    text-align: center;
}
#order{
    background-color: aliceblue;
}
#about {
    margin-top: 10px;
    margin-bottom: 10px;
}

